<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="assets/styles.css">

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>Full-stack programmer with a passion for the web. Creative thinker, problem solver, tech writer.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_tech %}
      <!-- begin Tech -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>
        <table>
            <tr>
              <th>Languages</th>
              <th>Servers</th>
              <th>SQL</th>
              <th>Frameworks</th>
              <th>Infra</th>
            </tr>
            <tr>
              <td>Java 8, JavaScript, TypeScript, HTML, CSS, Bash, Powershell</td>
              <td>Apache HTTP Server, WildFly</td>
              <td>MySQL, JPA, JDBC, Hibernate</td>
              <td>SpringBoot, Spring MVC, Spring Data, Spring Security, JavaEE, Jax-RS, JPA, Angular, Node.js, Maven, Gradle</td>
              <td>Ansible, Docker</td>
            </tr>
          </table>
      </section>
      <!-- end Tech -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2>Projects</h2>
        </header>
        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://blog.codecritique.org/" target="a_blank">codecritique.org</a></h3>
          <p class="resume-item-details"> Programming blog</p>
        </div>
        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://thrifty.codecritique.org/" target="a_blank">Thrifty</a></h3>
          <p class="resume-item-details">Personal finance app &bull; SpringBoot, Thymeleaf, Angular 6</p>
        </div>
        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://connectfour.codecritique.org/" target="a_blank">Connect Four</a></h3>
          <p class="resume-item-details">
            Real-time, two-player browser game with AI engine &bull; Angular 6, WebSockets, Deepstream.io</p>
        </div>
        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://codecritique.org/regextool" target="a_blank">RegexTool</a></h3>
          <p class="resume-item-details">
              A web tool for testing regular expressions &bull; SpringBoot, Thymeleaf
          </p>
        </div>
      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Work Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Skybox Security - Bucharest, Romania</h3>
          <h4 class="resume-item-details" itemprop="description">Java Developer&bull; March, 2020 to date</h4>
          <ul class="resume-item-list">
            <li>Skybox is a security management solution for large enterprise networks</li>
            <li>Handled over 100 support tickets covering a wide range of bug reports, from data collection/modeling/access-analyser problems to performance and scaling complaints, out of memory errors etc; typical handling involved root cause analysis, code fix with JUnit coverage, writing test guidelines for QA team and sometimes finding a temporary workaround to use until the fix was released
            </li>
            <li>Gained in-depth understanding of routing protocols, NAT, ACLs and other networking fundamentals</li>
            <li>Attended Cisco CCNA: Cisco Certified Network Associate course</li>
            <li>Expanded internal knowledge base with how-to articles and productivity tips for Skybox programmers</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Kontomatik - Warsaw, Poland</h3>
          <h4 class="resume-item-details" itemprop="description">Technical Support Lead&bull; March, 2016 &mdash; March, 2020</h4>
          <ul class="resume-item-list">
            <li>Helped external clients understand and adopt Kontomatik technology for extracting user account information from online banking systems</li>
            <li>Extended Kontomatik screen scraper library for online banks with a component targeting ING Bank, Romania</li>
            <li>Wrote code fixes and JUnit tests, maintained developer documentation</li>
            <li>Wrote a command line app to parse Http logs and calculate conversion rate for the Kontomatik SignIn Widget, using Java</li>
            <li>Wrote a browser plugin to download PDF bank statements from PKO online bank, using JavaScript and Google Chrome API</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Frank Communication - Bucharest, Romania</h3>
          <h4 class="resume-item-details" itemprop="description">Creative Director &bull; April, 2015 &mdash; Feb, 2016</h4>
          <ul class="resume-item-list">
            <li>Led a small team of art directors and copywriters</li>
          </ul>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Publicis Group - Bucharest, Romania</h3>
          <h4 class="resume-item-details" itemprop="description">Senior Copywriter &bull; Feb, 2009 &mdash; May, 2012</h4>
          <ul class="resume-item-list">
            <li>Wrote and pitched advertising concepts for TV, print and online media</li>
          </ul>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Faculty of Law, University of Bucharest</h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor of Law &bull; 1999</h4>
          <p class="resume-item-copy"></p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}


      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award"></h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy"></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award"></h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy"></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award"></h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy"></p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_books %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Books</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Thinking in Java 4th Edition, Bruce Eckart</h3>
          <h4 class="resume-item-details"></h4>
          <p class="resume-item-copy">Excellent introduction into the depth, beauty and complexity of the Java world.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Effective Java Second Edition, 2008, Joshua Bloch</h3>
          <h4 class="resume-item-details"></h4>
          <p class="resume-item-copy">Great compendium of best practices in Java programming. If only such easy-to-read code snippets were equally easy-to-write!</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">The Nature Of Code, Daniel Schiffman</h3>
          <h4 class="resume-item-details"></h4>
          <p class="resume-item-copy">Fascinating book. The first part introduces the novice reader to the fundamentals of
            object-oriented programming, then various approaches and techniques to produce computer simulations are discussed, linking together maths, physics and coding.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Thank you</p>
      </footer>

    </div>

  </body>

</html>
